/**
 $Id: site.css,v 1.3 2004/06/09 02:45:56 rcleveng Exp $
 */
A               { color: #00F; }
A:link 		{ text-decoration: none; }
A:active 	{ text-decoration: none; }
A:visited 	{ text-decoration: none; }
A:hover	  	{  text-decoration: underline; }

body    {
        font-size : 0.9em;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 20px 20px 20px 20px;
	padding-bottom:15px;
        }
h1{
	font-weight : bold;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

h2{
	font-weight : bold;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

h3{
	font-weight : bold;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

h4{
	font-weight : bold;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

h5{
	font-weight : bold;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

hr{
	border : none;
	background : #808080;
	height : 1px;
}

td,p,div,form,blockquote,ul,ol{
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

th{
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

.footer{
	color : #808080;
	font-size : 9px;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

.sublogo{
	padding-bottom : 5px;
	color : #333366;
	font-size : 9px;
	font-family : Arial,Helvetica,sans-serif;
}

.logo{
	padding-left : 10px;
	font-weight : bold;
	font-size : 26pt;
	font-family : Verdana,Arial,Helvetica,sans-serif;
}

.navlink:link           { color: #FFF; text-decoration: none; }
.navlink:active         { color: #FFF; text-decoration: none; }
.navlink:visited        { color: #FFF; text-decoration: none; }
.navlink:hover          { color: #FFF; text-decoration: underline; }

.navlink2:link          { color : #000;	text-decoration : none; }
.navlink2:active        { color : #000;	text-decoration : none; }
.navlink2:visited       { color : #000;	text-decoration : none; }
.navlink2:hover         { color : #000;	text-decoration : underline; }

.shade{
	background-color: ;
	background : #FDF5E6;
}