/******************************************************************************

   Javadoc style sheet

   $Id: stylesheet.css,v 1.2 2002/10/24 16:59:22 marcohu Exp $

******************************************************************************/

/* Define colors, fonts and other style attributes here to override the defaults  */

.snippet
{
background-color:#FDF5E6;
}

/* Page background color */
body {
    background-color: #FFFFFF;
    font-family: Verdana, Helvetica, Arial, sans-serif; font-size:10pt
}

h1,h2,h3,h4,h5 { font-family:Verdana,Helvetica, Arial, sans-serif; }

p,dt,dd,dl,li,b,i,u {
    font-family: Verdana, Helvetica, Arial, sans-serif;font-size:10pt;
}

hr { height:1px;background:#A9A9A9; border:none; }

tr, td { font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10pt; border-color:silver;}

table {
    font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10pt;
    border-collapse: collapse;
    border-color:silver;
}

a:link{
	color : #3366CC;
	text-decoration : none;
}

a:visited{
	color : #3366CC;
	text-decoration : none;
}

a:hover{
	color : #FF0033;
	text-decoration : underline;
}


.footer { font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt; }

/* Table colors */
.TableHeadingColor     { background: #336699; color:#FFFFFF; }
.TableSubHeadingColor  { background: #ff8000; color:#FFFFFF; }
.TableRowColor         { background: #ffffff; }

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-family: Verdana, Helvetica, Arial, sans-serif; }
.FrameHeadingFont { font-family: Verdana, Helvetica, Arial, sans-serif; }
.FrameItemFont    { font-size: 10pt; font-family: Verdana, Helvetica, Arial, sans-serif; }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#336699; height: 25px; vertical-align:middle; padding-left:3px;}
.NavBarCell1Rev { background-color:#336699; height: 25px; vertical-align:middle }
.NavBarCell2    { font-family: Verdana, Arial, Helvetica, sans-serif; background:#FFFFFF; }
.NavBarCell3    { font-family: Verdana, Arial, Helvetica, sans-serif; background:#FFFFFF; }
.NavBarFont1    { font-family: Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; }
.NavBarFont1Rev { font-family: Verdana, Arial, Helvetica, sans-serif; color:#FFCC00; }
